rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure the uid of the requesting user matches name of the user
    // document. The wildcard expression {userId} makes the userId variable
    // available in rules.
    match /users/{userId} {
      allow create, read, update, delete: if request.auth.uid == userId;
    }
    
    match /decks/{deckName} {
      allow read: if resource.data.userID == request.auth.uid 
        || resource.data.private == false;

      allow update, delete: if resource.data.userID == request.auth.uid;

      allow create: if request.auth.uid != null 
        && request.resource.data.userID == request.auth.uid; 
    }
  }
}

