@import "nord/src/sass/nord.scss";

$text-white: $nord4;
$text-black: $nord1;

$light-text-color: $nord3;

// $background: $nord5;
// $on-background: $text-black;

// $surface: $nord6;
// $on-surface: $text-black;

// $border-color: $nord4;

$background: $nord1;
$on-background: $text-white;

$surface: $nord0;
$on-surface: $text-white;

$border-color: $nord3;

$primary: $nord9;
$on-primary: $text-black;
$primary-dark: $nord10;
$on-primary-dark: $text-white;

$danger: $nord11;
$on-danger: $text-black;

$nav-height: 30px;
