$mtg-white: #fffcd7;
$mtg-blue: #abe0f7;
$mtg-black: #cdc1c1;
$mtg-red: #faaa8f;
$mtg-green: #9bd3ae;

$text-white: rgba(white, 0.8);
$text-black: rgba(black, 0.8);

$light-text-color: rgba($text-black, 0.4);

$background: #eee;
$on-background: $text-black;

$surface: #fff;
$on-surface: $text-black;

$border-color: #ddd;

$primary: #01579b;
$on-primary: $text-white;
$primary-dark: #002f6c;
$on-primary-dark: $text-white;
$primary-light: #4f83cc;
$on-primary-light: $text-black;

$danger: #b71c1c;
$on-danger: $text-white;
$danger-dark: #7f0000;
$on-danger-dark: $text-white;
$danger-light:#f05545;
$on-danger-light: $text-black;

$nav-height: 30px;