@import "./variables";

body {
    background-color: $background;
    color: $on-background;
    font-family: sans-serif;
}

::placeholder {
    color: $light-text-color;
    opacity: 1;
}

input {
    color: $on-background;
}
