.card {
    position: relative;

    img {
        position: absolute;
        top: 0;
        color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 4.2%;
    }

    .backup-card {
        display: grid;
        grid-template-areas:
            "title mana-cost"
            "type type"
            "text text";

        background: white;
        color: black;
        border: solid black 8px;
        border-radius: 4.2%;
        font-size: 10px;
        aspect-ratio: 0.68;
        padding: 5%;

        .title {
            grid-area: title;
        }

        .mana-cost {
            grid-area: mana-cost;

            text-align: right;
        }

        .type {
            grid-area: type;
        }

        .text {
            grid-area: text;
        }
    }
}
