:root {
    --card-width: 200px;
}

.card {
    position: relative;
    width: var(--card-width);

    img {
        position: absolute;
        top: 0;
        color: rgba(0, 0, 0, 0);
        width: 100%;
        border-radius: 9px;
    }

    .backup-card {
        display: grid;
        grid-template-areas:
            "title mana-cost"
            "type type"
            "text text";

        background: white;
        color: black;
        border: solid black 8px;
        border-radius: 8px;
        width: var(--card-width);
        height: calc(var(--card-width) * 1.4);
        font-size: 10px;
        box-sizing: border-box;

        .title {
            grid-area: title;
        }

        .mana-cost {
            grid-area: mana-cost;

            text-align: right;
        }

        .type {
            grid-area: type;
        }

        .text {
            grid-area: text;
        }
    }
}
