@import './variables';


.deck-collection {
    .deck-element {
        $border-thickness: 1px;
        padding-bottom: 10px;

        a {
            text-decoration: none;
            color: inherit;
            $key-image-width: 100px;

            position: relative;
            display: grid;
            grid-template-areas:
                "key title"
                "key author";
            grid-template-columns: #{$key-image-width / 2} auto;

            background-color: $surface;
            margin-top: $key-image-width / 2;
            margin-left: $key-image-width / 2 - $border-thickness;
            height: $key-image-width / 2;
            border: solid $border-thickness $border-color;

            .key-image {
                position: absolute;
                grid-area: key;
                width: $key-image-width;
                height: $key-image-width;
                overflow: hidden;
                border-radius: 50%;

                border: solid $border-thickness $border-color;
                top: $key-image-width / -2 - $border-thickness;
                left: $key-image-width / -2 - $border-thickness;
                background-color: $border-color;

                img {
                    height: 223%;
                    margin: -24% -29%;
                }
            }

            .title {
                grid-area: title;
                font-size: 1.25em;
                font-weight: bold;
            }

            .author {
                grid-area: author;
                color: $light-text-color;
            }
        }
    }
}