@import './variables';

.deck-builder {
    position: relative;
    font-family: monospace;
    font-size: 16px;

    $line-height: 1.25em;

    .editor {

        border: solid 1px $border-color;
        padding: 3px;
        background-color: $surface-color;

        position: relative;
        text-align: left;
        white-space: pre-wrap;
        word-break: keep-all;
        overflow-wrap: break-word;
        box-sizing: border-box;
        padding: 0px;
        overflow: hidden;

        @mixin editor {
            margin: 0px;
            border: 0px;
            background: none;
            box-sizing: inherit;
            display: inherit;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-variant-ligatures: inherit;
            font-weight: inherit;
            letter-spacing: inherit;
            line-height: inherit;
            tab-size: inherit;
            text-indent: inherit;
            text-rendering: inherit;
            text-transform: inherit;
            white-space: inherit;
            word-break: inherit;
            overflow-wrap: inherit;
            padding: 10px;
            line-height: $line-height;
            letter-spacing: 0;
        }

        .text {
            @include editor;

            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            resize: none;
            color: inherit;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;
            -webkit-text-fill-color: transparent;
        }

        .deck {
            @include editor;

            position: relative;
            pointer-events: none;
            white-space: pre;

            .row {
                display: block;

                .quantity {
                    color: red;
                }

                .card {
                    // color: blue;
                }

                .tag {
                    color: cornflowerblue;
                }

                .comment {
                    color: lightgrey;
                }
            }
        }
    }

    .autocomplete {
        position: absolute;
        top: calc((var(--y) + 2) * #{$line-height});
        left: calc(var(--x) * 1ch);
        border: solid #ccc 1px;
        background-color: white;
        z-index: 10;

        margin: -10px 10px;

        .options {
            .selected {
                background-color: lightblue;
            }
        }
    }
}