.deck-list {
    $width: 200px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    .card {

        width: $width;
        height: floor($width / 6.5);

        &:hover {
            position: relative;
        }

        img {
            width: $width;
            border-radius: floor($width / 22);
            pointer-events: none;
        }
    }
}