@import './variables';

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;

    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }

    @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}

.deck-list-group {
    $width: 200px;
    $gap: 15px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
    grid-column-gap: $gap;

    padding-bottom: ($width * 1.24) - $gap;

    .slot {
        align-self: stretch;
        padding-bottom: $gap;

        &:hover {
            position: relative;
        }

        .quantity {
            position: absolute;
            z-index: 1;
            color: $on-primary;
            font-size: 2em;
            font-weight: bold;
            @include stroke(2, $primary);
            padding: 15px;
        }

        .card {
            width: $width;
            height: floor($width / 6.5);

            img {
                width: $width;
                border-radius: floor($width / 22);
                pointer-events: none;

            }
        }
    }
}