@import "./variables";

.edit-deck {
    $gap: 10px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: $gap;
    grid-template-areas:
        "title"
        "builder"
        "stats"
        "list";
    @media (min-width: $bp-md-min) {
        grid-template-columns: auto 300px;
        grid-template-areas:
            "title   title"
            "builder stats"
            "list    list";
    }

    > .title {
        grid-area: title;
        position: relative;

        font-size: 2em;
        font-weight: bold;

        input {
            font: inherit;
            // font-weight: inherit;
            // font-family: inherit;

            width: 100%;

            background: none;
            border: none;
            outline: none;

            &.empty,
            &:focus {
                background: $surface;
                outline: solid 1px $border-color;
                color: $on-surface;
            }
        }

        i {
            position: absolute;
            display: none;
            top: 0.5em;
            left: -1em;
        }

        input:focus + i,
        &:hover i {
            display: inline-block;
        }
    }

    .deck-builder {
        grid-area: builder;
    }

    .stats-wrapper {
        grid-area: stats;

        .side-bar {
            position: sticky;
            top: $gap + $nav-height;
            
            max-height: calc(100vh - #{($gap * 2) + $nav-height});
            overflow-y: auto;
            background-color: $surface;
            border: solid 1px $border-color;
            color: $on-surface;
            padding: 5px;
        }
    }

    .deck-list {
        grid-area: list;
    }
}
