@import "./variables";

.edit-deck {
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
        "title title"
        "builder stats"
        "list stats ";

    > .title {
        grid-area: title;
        position: relative;

        input {
            font-size: 2em;
            font-weight: bold;

            width: 100%;

            background: none;
            border: none;
            outline: none;
            &:focus {
                background: $surface;
                border: solid 1px $border-color;
                color: $on-surface;
                margin: -1px;
            }
        }
        i {
            position: absolute;
            display: none;
            top: 0.5em;
            left: -1em;
        }
        &:hover {
            i {
                display: inline-block;
            }
        }
    }

    .deck-builder {
        grid-area: builder;
    }

    .stats-wrapper {
        grid-area: stats;

        .side-bar {
            position: sticky;
            top: 5px + $nav-height;
        }
    }

    .deck-list {
        grid-area: list;
    }
}
