@import "./variables";

.filter {
    $padding: 6px;

    display: flex;
    border: solid 1px $border-color;
    background-color: $surface;
    color: $on-surface;

    margin-bottom: 10px;

    .title {
        border-right: solid 1px $border-color;
        padding: $padding;
    }

    input {
        border: none;
        outline: none;
        padding: $padding;
        flex-grow: 9999;
        margin: 0;
        color: $on-surface;
    }
}
