@import "./variables";

.nav {
    $padding: 5px;

    position: fixed;
    width: calc(100% - #{$padding * 2});
    top: 0;
    left: 0;
    height: $nav-height - 2 * $padding;
    background-color: $primary;
    z-index: 10;

    padding: $padding;
    line-height: $nav-height - 2 * $padding;
    color: $on-primary;

    .link {
        color: $on-primary;
        padding: $padding 0.5ch;
        margin: #{$padding * -1} 0;
        text-decoration: none;
        border: none;
        outline: none;
        background: none;
        font-family: inherit;
        font-size: inherit;
        vertical-align: top;

        &:hover {
            background: $primary-dark;
            color: $on-primary-dark;
        }
    }

    .nav-dropdown {
        display: inline-block;

        .nav-dropdown-title {
            @extend .link;

            cursor: pointer;
        }

        .nav-option {
            display: none;
        }

        &:hover {
            .nav-option {
                display: block;
                background-color: $surface;
                color: $on-surface;
                width: calc(100% - #{$padding * 2});
                padding: $padding;
                cursor: pointer;

                &:nth-child(2) {
                    margin-top: $padding;
                }
                &:hover {
                    background: $primary-dark;
                    color: $on-primary-dark;
                }
            }
        }
    }

    .nav-left {
        float: left;
    }

    .nav-right {
        float: right;
    }

    .nav-loader {
        height: 3px;
        background: $danger;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.content {
    padding-top: $nav-height;
    margin: 0 calc(50vw - #{$bp-lg-min / 2});

    @media screen and (max-width: $bp-lg-min) {
        margin: 0;
    }
}
