.new-deck-builder {
    $line-height: 1.5em;

    font-family: monospace;
    padding-bottom: 10px;

    .deck {
        width: 100%;
        background: lightgray;
        white-space: pre;

        .row {
            display: block;
            height: $line-height;

            .quantity {
                color: red;
            }

            .card {
                position: relative;
                color: blue;

                .popup {
                    display: none;
                }

                &:hover .popup {
                    display: block;
                    position: absolute;

                    border: solid 1px #333;
                    width: 200px;

                    img {
                        width: 100%;
                    }
                }
            }

            .tag {
                background-color: cornflowerblue;
                border-radius: 3px;
                color: white;
            }
        }
    }

    .autocomplete {
        position: absolute;

        border: solid #ccc 1px;
        background-color: white;
        transform: translateY($line-height);
        z-index: 10;

        .options {
            .selected {
                background-color: lightblue;
            }
        }
    }
}