@import './variables';

.search-page {
    .input {
        background-color: $light;
        color: $on-light;
        width: 100%;
        margin: 20px 0;
        padding: 6px;
        font-size: 18px;
    }

    .list {
        $width: 200px;
        $gap: 15px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
        grid-gap: $gap;
    }
}
