@import './variables';

.search {
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: nowrap;

    input {
        // padding: 0;
        // margin: 0;
        // border: none;
        width: 100%;
        flex-grow: 9999;
    }

    .mana-cost {
        display: flex;
        flex-grow: 1;
    }

    .popup {
        display: none;

        &.open {
            position: absolute;
            display: grid;
            grid-template-columns: 340px 225px;
            grid-column-gap: 10px;

            border: solid 1px $border-color;
            background-color: $surface-color;

            .names {
                .row {
                    padding: 2px 8px;

                    &.selected {
                        background-color: #aaa
                    }

                    .name {}

                    .mana-cost {
                        float: right;
                    }
                }

            }

            img.selected-card {
                width: 225px;
                border-radius: 10px
            }

        }
    }
}