@import './variables';

.toggle {
    $padding: 5px;
    $width: 50px;
    $toggle-width: 20px;

    position: relative;
    display: inline-block;
    width: $width;
    padding: $padding;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $light;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: calc(100% - #{$padding * 2});
            width: $toggle-width;
            left: $padding;
            bottom: $padding;
            background-color: $on-light;
            transition: .4s;
        }
    }

    input:checked+.slider {
        background-color: $primary;

        &:before {
            background-color: $on-primary;
        }
    }

    input:focus+.slider {
        box-shadow: 0 0 1px $primary;
    }

    input:checked+.slider:before {
        transform: translateX(#{$width - $toggle-width});
    }
}